<form [formGroup]="searchFood" (ngSubmit)="onSearchYelp()">
    <label for="nameOfCity">City</label>
    <input
    type="text"
    name="cityName"
    formControlName="cityName"
    required
    >
    <label for ="State">State</label>
    <select
    name="State"
    formControlName="states"
    required
    >
    <option *ngFor="let s of states" value="{{s}}">{{s}}</option>
    </select>
    <label for="price">Price:</label>
    <select
    name="Price"
    formControlName="price"
    required
    >
    <option *ngFor="let p of price" value="{{p.value}}">{{p.view}}</option>
    </select>
    <button type="submit">Search</button>
</form>

<h3>Restaurant Name:</h3>
<p><b>Address:</b></p>
<p>Phone Number:</p>
<p>Delivery:</p>
//image of restaurant//
<br>
//google maps location//